body {
    background-color: #908383;
    font-family: Arial, sans-serif;
    button {
        background-color: #f1f1f1;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 30%;
    }
}